{% extends 'base.html.twig' %}

{% block title %}Photo Community - Home{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Home page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis libero totam veniam cupiditate. Voluptatem ducimus minima nobis similique! Perspiciatis, quod?</p>
    <a href="{{ path('photos') }}">Photos</a><br>
    <a href="{{ path('admin') }}">Admin</a><br>
    {% if app.user %}
		{{ app.user.username }}
		<a href="{{ path('logout') }}">Logout</a><br>
    {% else %}
		<a href="{{ path('login') }}">Login</a><br>
        <a href="{{ path('user_registration') }}">Register</a><br>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
	    ADMIN
	{% endif %}
	{% if is_granted('ROLE_USER') %}
	    USER
	{% endif %}
</div>
{% endblock %}
